@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
@import 'palette';
* {
    box-sizing: border-box;
}
html,
body {
    background: #f5f5f5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}
p {
    font-size: 1.5rem;
}
.heading {
    padding: 10px 0 20px 0;
    h4,
    p {
        text-align: center;
        color: #939393;
    }
    a {
        color: #939393;
        -moz-transition: 1s;
        -webkit-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        &:hover {
            color: #3399FF;
        }
    }
}
//Flex Containers
.flex-container,
.flex-container2 {
    -moz-display: flex;
    -webkit-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 50px;
}
.flex-container2 {
    i {
        padding: 0 10px 0 0;
    }
}
.flex-column {
    -moz-display: flex;
    -webkit-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    flex-flow: column nowrap;
}
.flex-item {
    a {
        -moz-transition: 1s;
        -webkit-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        &:hover {
            opacity: 0.4;
        }
    }
}
//Footer Styles
.footer {
    h4,
    p {
        text-align: center;
        color: #939393;
    }
    a {
        color: #939393;
    }
}
.bootstrap {
    -moz-transition: 1s;
    -webkit-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    &:hover {
        color: #5d4484;
    }
}
.sassy {
    -moz-transition: 1s;
    -webkit-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    &:hover {
        color: #c6538c;
    }
}
.daft {
    -moz-transition: 1s;
    -webkit-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    &:hover {
        color: yellowgreen;
    }
}
.twitter,
.github,
.instagram,
.behance {
    -moz-transition: 1s;
    -webkit-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.twitter {
    &:hover {
        color: $twitter;
    }
}
.github {
    &:hover {
        color: $github;
    }
}
.instagram {
    &:hover {
        color: $instagram;
    }
}
.behance {
    &:hover {
        color: $behance;
    }
}
//Media Queries
@media all and (max-width: 960px) {
    .flex-container {
        flex-flow: column nowrap;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }
}